* {
  background-color: #0a7e80;
  font-family: "Inconsolata", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
}

.header {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}
.sub-title {
  font-family: "Lora", "Times New Roman", Times, serif;
  font-size: 1rem;
}

.wrapper {
  height: 100%;
  width: 350px;
  border: solid white 1px;
  background-color: #f4f4f4;
  margin: 1rem auto;
  border-radius: .6rem;
}

.display-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  grid-area: v;
  background-color: hsl(220, 20%, 18%);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.display {
  text-align: end;
  padding: 0.3rem;
  width: 100%;
  margin: 1rem;
  background-color: #577590;
  border: solid #e5e5e5 2px;
  font-size: 2rem;
}

.button-wrapper {
  display: grid;
  grid-template-areas: "s p"
                       "m p";
  padding: 1rem;
  background-color: #e1e3e4;
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.primary-functions {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  background-color: inherit;
  grid-area: p;
}

.primary-functions .button {
  background-color: #505461;
  color: #e1e3e4;
}

.second-functions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: s;
  background-color: inherit;
}

.second-functions .button {
  background-color: #505461;
  color: #e1e3e4;
}

.button {
  margin: 0.1rem;
  border: 0.5px solid #fafafa;
  border-radius: .8rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: #e1e3e4;
}

.button:hover {
  box-shadow: inset;
  background-color: #eb5e28;
  border: 1px solid #eb5e28;
  transition: all 250ms ease-in-out;
}

.main-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: m;
  background-color: inherit;
}

.main-btns .button {
  background-color: #6f7d8b;
}


#clear {
  background-color: #eb5e28;
  color: #f4f4f4;
}

.copyright {
  display: flex;
  margin: 0 auto;
  width: max-content;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color: #111;
  font-weight: 500;
  opacity: 0;
}

.copyright .author {
  opacity: 1;
}

.copyright:hover {
  transform: translateY(-.2rem);
  transition: all 400ms ease-in-out;
  opacity: 1;
}